<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.zehin.vpaas.mapper.DECRegistrationContentMapper">
	
	<resultMap id="rtmpDECRegistrationContent" type="com.zehin.vpaas.beans.DECRegistrationContent" >
				<id column="Srno" property="srno" />
				<result column="RegNo" property="regNo" />
				<result column="IDCard" property="IDCard" />
				<result column="HealthCard" property="healthCard" />
				<result column="PatientName" property="patientName" />
				<result column="PatientType" property="patientType" />
				<result column="HospitalCode" property="hospitalCode" />
				<result column="HospitalName" property="hospitalName" />
				<result column="TreatmentType" property="treatmentType" />
				<result column="RegTypeCode" property="regTypeCode" />
				<result column="RegTypeName" property="regTypeName" />
				<result column="IsApp" property="isApp" />
				<result column="AppTypeCode" property="appTypeCode" />
				<result column="AppTypeName" property="appTypeName" />
				<result column="RegDate" property="regDate" />
				<result column="DeptCode" property="deptCode" />
				<result column="DeptName" property="deptName" />
				<result column="GenderCode" property="genderCode" />
				<result column="GenderName" property="genderName" />
				<result column="Birthday" property="Birthday" />
				<result column="ClinicFee" property="clinicFee" />
				<result column="RegFee" property="regFee" />
				<result column="BookFee" property="bookFee" />
				<result column="OtherFee" property="otherFee" />
				<result column="RegFlag" property="regFlag" />
				<result column="OperatorCode" property="operatorCode" />
				<result column="OperatorName" property="operatorName" />
				<result column="SubmitDate" property="submitDate"  jdbcType="TIMESTAMP"
				/>
				<result column="RecordState" property="recordState" />
				<result column="ContactPhone" property="contactPhone" />
				<result column="ContactAddress" property="contactAddress" />
			
  	</resultMap>
  	
  	<sql id="Base_Column_List" >
	  		Srno,
	  		RegNo,
	  		IDCard,
	  		HealthCard,
	  		PatientName,
	  		PatientType,
	  		HospitalCode,
	  		HospitalName,
	  		TreatmentType,
	  		RegTypeCode,
	  		RegTypeName,
	  		IsApp,
	  		AppTypeCode,
	  		AppTypeName,
	  		RegDate,
	  		DeptCode,
	  		DeptName,
	  		GenderCode,
	  		GenderName,
	  		Birthday,
	  		ClinicFee,
	  		RegFee,
	  		BookFee,
	  		OtherFee,
	  		RegFlag,
	  		OperatorCode,
	  		OperatorName,
	  		SubmitDate,
	  		RecordState,
	  		ContactPhone,
	  		ContactAddress
	  	
 	</sql>
 	
 	
 	<!-- 根据id查询 -->
	<select id="selectByPrimaryKey" resultMap="rtmpDECRegistrationContent">
	    SELECT 
	    <include refid="Base_Column_List" />
	    FROM V_MZ_GHJK
	    WHERE Srno = #{srno}
 	 </select>
	
	<!-- 查询所有 -->
	<select id="findAll" resultMap="rtmpDECRegistrationContent" 
	    parameterType="com.zehin.vpaas.beans.DECRegistrationContent">
		select
		<include refid="Base_Column_List" />
		from V_MZ_GHJK
	</select>
	<select id="findByPage" resultMap="rtmpDECRegistrationContent" 
	    parameterType="com.zehin.vpaas.beans.ViewAccessState">
		select
		<include refid="Base_Column_List" />
		from V_MZ_GHJK where convert(varchar(19),SubmitDate,120) > #{SubmitDate} order by SubmitDate
	</select>
	<!-- 批量删除 -->
	<delete id="deleteBT" parameterType="java.lang.String">
		DELETE FROM
		V_MZ_GHJK
		WHERE 
			Srno
		IN
		<foreach item="idItem" collection="array" open="(" separator="," close=")">
			'${idItem}'
		</foreach>
	</delete>
	
	<!-- 选择性插入数据 -->
	<insert id="insertSelective" parameterType="com.zehin.vpaas.beans.DECRegistrationContent">
		INSERT INTO V_MZ_GHJK
		<trim prefix="(" suffix=")" suffixOverrides=",">
				<if test="Srno != null">
					Srno,
				</if>
				<if test="RegNo != null">
					RegNo,
				</if>
				<if test="IDCard != null">
					IDCard,
				</if>
				<if test="HealthCard != null">
					HealthCard,
				</if>
				<if test="PatientName != null">
					PatientName,
				</if>
				<if test="PatientType != null">
					PatientType,
				</if>
				<if test="HospitalCode != null">
					HospitalCode,
				</if>
				<if test="HospitalName != null">
					HospitalName,
				</if>
				<if test="TreatmentType != null">
					TreatmentType,
				</if>
				<if test="RegTypeCode != null">
					RegTypeCode,
				</if>
				<if test="RegTypeName != null">
					RegTypeName,
				</if>
				<if test="IsApp != null">
					IsApp,
				</if>
				<if test="AppTypeCode != null">
					AppTypeCode,
				</if>
				<if test="AppTypeName != null">
					AppTypeName,
				</if>
				<if test="RegDate != null">
					RegDate,
				</if>
				<if test="DeptCode != null">
					DeptCode,
				</if>
				<if test="DeptName != null">
					DeptName,
				</if>
				<if test="GenderCode != null">
					GenderCode,
				</if>
				<if test="GenderName != null">
					GenderName,
				</if>
				<if test="Birthday != null">
					Birthday,
				</if>
				<if test="ClinicFee != null">
					ClinicFee,
				</if>
				<if test="RegFee != null">
					RegFee,
				</if>
				<if test="BookFee != null">
					BookFee,
				</if>
				<if test="OtherFee != null">
					OtherFee,
				</if>
				<if test="RegFlag != null">
					RegFlag,
				</if>
				<if test="OperatorCode != null">
					OperatorCode,
				</if>
				<if test="OperatorName != null">
					OperatorName,
				</if>
				<if test="SubmitDate != null">
					SubmitDate,
				</if>
				<if test="RecordDate != null">
					RecordDate,
				</if>
				<if test="contactPhone != null">
					ContactPhone,
				</if>
				<if test="ContactAddress != null">
					ContactAddress,
				</if>
		  		
		</trim>
		<trim prefix="VALUES (" suffix=")" suffixOverrides=",">
				<if test="Srno != null">
					#{Srno},
				</if>
				<if test="RegNo != null">
					#{RegNo},
				</if>
				<if test="IDCard != null">
					#{IDCard},
				</if>
				<if test="HealthCard != null">
					#{HealthCard},
				</if>
				<if test="PatientName != null">
					#{PatientName},
				</if>
				<if test="PatientType != null">
					#{PatientType},
				</if>
				<if test="HospitalCode != null">
					#{HospitalCode},
				</if>
				<if test="HospitalName != null">
					#{HospitalName},
				</if>
				<if test="TreatmentType != null">
					#{TreatmentType},
				</if>
				<if test="RegTypeCode != null">
					#{RegTypeCode},
				</if>
				<if test="RegTypeName != null">
					#{RegTypeName},
				</if>
				<if test="IsApp != null">
					#{IsApp},
				</if>
				<if test="AppTypeCode != null">
					#{AppTypeCode},
				</if>
				<if test="AppTypeName != null">
					#{AppTypeName},
				</if>
				<if test="RegDate != null">
					#{RegDate},
				</if>
				<if test="DeptCode != null">
					#{DeptCode},
				</if>
				<if test="DeptName != null">
					#{DeptName},
				</if>
				<if test="GenderCode != null">
					#{GenderCode},
				</if>
				<if test="GenderName != null">
					#{GenderName},
				</if>
				<if test="Birthday != null">
					#{Birthday},
				</if>
				<if test="ClinicFee != null">
					#{ClinicFee},
				</if>
				<if test="RegFee != null">
					#{RegFee},
				</if>
				<if test="BookFee != null">
					#{BookFee},
				</if>
				<if test="OtherFee != null">
					#{OtherFee},
				</if>
				<if test="RegFlag != null">
					#{RegFlag},
				</if>
				<if test="OperatorCode != null">
					#{OperatorCode},
				</if>
				<if test="OperatorName != null">
					#{OperatorName},
				</if>
				<if test="SubmitDate != null">
					#{SubmitDate},
				</if>
				<if test="RecordDate != null">
					#{RecordDate},
				</if>
				<if test="ContactPhone != null">
					#{ContactPhone},
				</if>
				<if test="ContactAddress != null">
					#{ContactAddress},
				</if>
	  		
		</trim>
	</insert>
	
	<!-- 保存 -->
	<update id="updateByPrimaryKeySelective" parameterType="com.zehin.vpaas.beans.DECRegistrationContent">
		UPDATE V_MZ_GHJK
		<set>
				<if test="Srno != null">
					Srno = #{Srno},
				</if>
				<if test="RegNo != null">
					RegNo = #{RegNo},
				</if>
				<if test="IDCard != null">
					IDCard = #{IDCard},
				</if>
				<if test="HealthCard != null">
					HealthCard = #{HealthCard},
				</if>
				<if test="PatientName != null">
					PatientName = #{PatientName},
				</if>
				<if test="PatientType != null">
					PatientType = #{PatientType},
				</if>
				<if test="HospitalCode != null">
					HospitalCode = #{HospitalCode},
				</if>
				<if test="HospitalName != null">
					HospitalName = #{HospitalName},
				</if>
				<if test="TreatmentType != null">
					TreatmentType = #{TreatmentType},
				</if>
				<if test="RegTypeCode != null">
					RegTypeCode = #{RegTypeCode},
				</if>
				<if test="RegTypeName != null">
					RegTypeName = #{RegTypeName},
				</if>
				<if test="IsApp != null">
					IsApp = #{IsApp},
				</if>
				<if test="AppTypeCode != null">
					AppTypeCode = #{AppTypeCode},
				</if>
				<if test="AppTypeName != null">
					AppTypeName = #{AppTypeName},
				</if>
				<if test="RegDate != null">
					RegDate = #{RegDate},
				</if>
				<if test="DeptCode != null">
					DeptCode = #{DeptCode},
				</if>
				<if test="DeptName != null">
					DeptName = #{DeptName},
				</if>
				<if test="GenderCode != null">
					GenderCode = #{GenderCode},
				</if>
				<if test="GenderName != null">
					GenderName = #{GenderName},
				</if>
				<if test="Birthday != null">
					Birthday = #{Birthday},
				</if>
				<if test="ClinicFee != null">
					ClinicFee = #{ClinicFee},
				</if>
				<if test="RegFee != null">
					RegFee = #{RegFee},
				</if>
				<if test="BookFee != null">
					BookFee = #{BookFee},
				</if>
				<if test="OtherFee != null">
					OtherFee = #{OtherFee},
				</if>
				<if test="RegFlag != null">
					RegFlag = #{RegFlag},
				</if>
				<if test="OperatorCode != null">
					OperatorCode = #{OperatorCode},
				</if>
				<if test="OperatorName != null">
					OperatorName = #{OperatorName},
				</if>
				<if test="SubmitDate != null">
					SubmitDate = #{SubmitDate},
				</if>
				<if test="RecordDate != null">
					RecordDate = #{RecordDate},
				</if>
				<if test="ContactPhone != null">
					ContactPhone = #{ContactPhone},
				</if>
				<if test="ContactAddress != null">
					ContactAddress = #{ContactAddress},
				</if>
	  			
		</set>
		WHERE 
			Srno= #{Srno}
	</update>
	
</mapper>